@font-face{
    font-family: Roboto; 
    src: url(Roboto-Regular.ttf);
  }
@font-face{
    font-family: Got; 
    src: url(Game-of-Thrones.ttf);
  }  
  body{
    margin:0;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #333;
  }
  h3{
    font-family: Got, serif;
    text-align: center;
    color: #ccc;
    font-weight: normal;
  }

  div{
    position:relative;
    box-sizing:border-box;
    padding: 10px;
  }
  .container{
    width:100%;
    min-height: 100vh;
    padding:0;
  }
  .container>div{
    height: 100vh;
  }
  .character-list{
    width: 75%;
    background: url("/assets/site/mapblue.jpg") no-repeat fixed bottom;
    float: left;
    overflow: auto
  }
  .one-character{
    width: 25%;
    background-color:#333;
    float: left;
  }
  
  .searchbar{
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .character-div{
      width: 12.5%;
      min-height:150px;
      float: left;
      padding: 2px;
      text-align: center;
  }
  .character-div p{
    font: bold small-caps 10px Got, serif;
    margin-top:2px;
    text-align: center;
  }
  .character-div img{
    max-width: 80px;
  }
 .character-div:hover{
    color:#fff;
    text-shadow: 0 0 10px #c00;
  }

 .one-character-div{
     color: #ccc;
}

 .one-character-div div{
      padding:1px;
      min-height: 40px;
 }

 .one-character-div img{
    max-width: 100%;
 }

.one-character-div-name{
    width: 70%;
    margin-right: 0px;
    float: left;
    font-weight: bold;
}
.one-character-div-house{
    width: 30%;
    float: left;
    text-align: center;
 }
 .one-character-div-bio{
    width: 100%;
    float: left;
}

#search-button{
    min-height: 30px;
    padding: 6px 8px;
    background: #333;
    color: #ccc;
    border: 1px solid #ccc;
}
#search-text{
    height: 20px;
    padding: 4px;
    border: 1px solid #ccc;
    margin-left: 20px;
    font-size: 12px;
    background: white url(/assets/icon/search-icon.png) left no-repeat;
    padding-left: 17px;
}

.selected{
    color:#c00;
    text-shadow: 0 0 5px #cc0;
    font-weight: bold;
}
  
  @media(max-width:992px){
    .container>div{
      float: left;
      height: auto;
    }
  
    .character-list{
      width: 100%;
      overflow:unset;
      float: left;
    }
    .one-character{
      position: relative;
      width: 100%;
      float: left;
      padding-bottom: 100px;
    }
    .searchbar{
      position: absolute;
      bottom:20px;
      left:20px;
      margin-top:20px;
      z-index: 2;
    }

    .character-div{
        width: 25%;
    }
    .one-character-div{
        text-align: center;
    }

    .one-character-div div{
        width: 100%;    
    }
    .one-character-div-bio{
        text-align: justify;
    }

  }
  @media(max-width:600px){
    .character-div{
        width: 100%;
    }
  }